<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123907775175-gr6cg40jdgiqta5rs9vcmsl8cvlfr77k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123907775175-gr6cg40jdgiqta5rs9vcmsl8cvlfr77k</string>
	<key>API_KEY</key>
	<string>AIzaSyAboqPrX6-j9UAHD3_wF7lEo2JYll6N1RY</string>
	<key>GCM_SENDER_ID</key>
	<string>123907775175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myairline.mobileapp</string>
	<key>PROJECT_ID</key>
	<string>myairline-4ef5b</string>
	<key>STORAGE_BUCKET</key>
	<string>myairline-4ef5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123907775175:ios:4ef6b02f82eeee9b0d7ce2</string>
</dict>
</plist>